
body {
	background-color: black;
}
h1 {
  color: #00ff41;
  font-family: verdana;
  font-size: 300%;
}

header {
  text-align: center;
  font-size: 35px;
  color: #00ff41;
}

.center-content {
  text-align: center;
}

p  {
  color: #00ff41;
  font-family: courier;
  font-size: 160%;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #008f11;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #00ff41;
  background-color: transparent;
  text-decoration: underline;
}

.label-style {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #00ff41;
}


.input-style {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  border-color: #00ff41;
  background-color: #080808;
  caret-color: #00ff41;
  accent-color: #00ff41;
}

.container {
  display: block;
  margin:0 auto;
  text-align: center;
}

